:root {
    --color-text: #f5f5f5;
    --background: #fff;
    --highlight-text: #2a87f7;
    --blue: #010E2D;
    --dark-blue: #010e2d;
    --black: black;
    --light-gray: #F3F5F8;
}

@media(max-width: 1200px) {
    #wrap {
        max-width: 980px;
    }

    .info-footer {
        width: 650px;
    }

    .div-info-blog {
        width: 39rem;
    }

    #containerExperience .cards {
        height: 430px;
    }
}

@media(max-width: 1060px) {
    #wrap {
        max-width: 870px;
    }

    #profile {
        height: 528px;
        gap: 2rem;
    }

    #description {
        margin-bottom: 1rem;
        row-gap: 1rem;
    }

    #description>h1 {
        font-size: 1.8rem;
    }

    #description p {
        font-size: 2.2rem;
    }

    #foto img {
        width: 30rem;
        height: 30rem;
    }

    #social {
        margin: 1rem 0px;
    }

    .link-blog {
        padding: 1.1rem 2.1rem 1.1rem 2.1rem;
    }

    #containerExperience .cards {
        height: 450px;
    }
}

@media(max-width:900px) {
    #wrap {
        max-width: 780px;
    }

    #profile {
        height: 484px;
        gap: 0.10rem;
    }

    #description {
        row-gap: 0.2rem;
    }

    #description p {
        font-size: 2.1rem;
    }

    #foto img {
        width: 26rem;
        height: 26rem;
    }

    #social li a .linkedin-logo,
    .github-logo {
        width: 30px;
        height: 30px;
    }

    .social-link-text {
        font-size: 13px;
    }

    .div-img-blog {
        margin: 30px;
    }

    #containerExperience {
        padding: 0px;
    }

    .title-card img {
        width: 4.2rem;
        height: 85px;
    }

    .title-card .img-analys {
        width: 5.2rem;
        height: 85px;
    }

    .title-card h2 {
        font-size: 1.7rem;
    }

    .info-card p {
        font-size: 1.5rem;
    }

}

/*menu hamburguer*/
@media(max-width:830px) {

    #wrap {
        max-width: 670px;
    }

    #header {
        height: 65px;
    }

    #social {
        display: none;
    }

    #profile {
        height: 729px;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        justify-items: center;
        align-items: center;
        row-gap: 0.10rem;
        text-align: center;
    }

    #description>h1 {
        align-self: center;
    }

    #description {
        margin: 0px;
        row-gap: 0.1rem;
    }

    #foto {
        margin-top: 3rem;
    }

    #foto img {
        width: 28rem;
        height: 28rem;
    }

    #containerBlog {
        height: 750px;
        margin-top: 4rem;
        display: flex;
        flex-direction: column-reverse;
    }

    .div-info-blog {
        text-align: center;
        align-self: center;
        align-items: center;
        justify-self: center;
    }

    .div-img-blog {
        width: 22rem;
        height: 22rem;
        margin-bottom: 5rem;
    }

    #menu {
        opacity: 1;
        transform: translatex(40px);
        transition-duration: 0.3s;
        pointer-events: none;
        --color-text: #010E2D;
    }

    #menu ul {
        display: flex;
        flex-direction: column;
        row-gap: 2.5rem;
        font-size: 1rem;
    }

    #menu ul li {
        font-size: 1.4rem;
    }

    #containerExperience {
        display: grid;
        grid-gap: 1.5rem;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    }

    #containerExperience .cards {
        height: 285px;
    }

    .box>svg {
        max-width: 5.1rem;
    }

    svg#oracle {
        max-width: 7rem;
    }

    svg#sql {
        max-width: 7.9rem;
    }

    svg#git,
    svg#github,
    svg#vs-code {
        max-width: 6.1rem;
    }

    #techContainer {
        margin-bottom: 3rem;
    }

    #menuIcon {
        display: block;
        border: none;
        float: right;
        background-color: transparent;
    }

    .hamburger .line {
        width: 35px;
        height: 5px;
        display: block;
        margin: 8px auto;
        border-radius: 10px;
        background-color: var(--color-text);
        -webkit-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .menuHamburguer.is-active .hamburger .line {
        background-color: var(--blue);
    }

    .hamburger:hover {
        cursor: pointer;
    }

    #menu-overlay {
        opacity: 0;
        background: transparent;
    }

    /****/
    #hamburger-5.is-active {
        -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        transform: rotate(90deg);
    }

    #hamburger-5.is-active .line:nth-child(2) {
        -webkit-transition: none;
        -o-transition: none;
        transition: none;
    }

    #hamburger-5.is-active .line:nth-child(2) {
        -webkit-transition-delay: 0.3s;
        -o-transition-delay: 0.3s;
        transition-delay: 0.3s;
    }

    #hamburger-5.is-active .line:nth-child(2) {
        opacity: 0;
    }

    #hamburger-5.is-active .line:nth-child(1),
    #hamburger-5.is-active .line:nth-child(3) {
        width: 29px;
        height: 6px;
        -webkit-transform-origin: right;
        -moz-transform-origin: right;
        -ms-transform-origin: right;
        -o-transform-origin: right;
        transform-origin: right;
    }

    #hamburger-5.is-active .line:nth-child(1) {
        -webkit-transform: translateY(15px) rotate(45deg);
        -ms-transform: translateY(15px) rotate(45deg);
        -o-transform: translateY(15px) rotate(45deg);
        transform: translateY(15px) rotate(45deg);
    }

    #hamburger-5.is-active .line:nth-child(3) {
        -webkit-transform: translateY(-15px) rotate(-45deg);
        -ms-transform: translateY(-15px) rotate(-45deg);
        -o-transform: translateY(-15px) rotate(-45deg);
        transform: translateY(-15px) rotate(-45deg);
    }

    /****/

    #menu-overlay.active-menu {
        width: 100%;
        height: 100%;
        opacity: 1;
        position: fixed;
        z-index: 7;
        backdrop-filter: blur(1px);
        background: rgba(255, 255, 255, 0.7);
        pointer-events: none;
    }

    #menu {
        position: absolute;
        display: flex;
        flex-direction: column;
        align-content: normal;
        justify-content: center;
        flex-wrap: nowrap;
        opacity: 0;
        visibility: hidden;
        transform: translateY(-20px);
        transition: transform .3s ease, opacity .3s ease;
        width: 530px;
        height: 280px;
        margin-top: 28rem;
        right: 3rem;
        border-radius: 15px;
        pointer-events: none;
        background: var(--background);
        box-shadow: -1px 0px 13px 1px #ccc;
    }

    #menu.active-menu {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition-duration: 0.7s;
        pointer-events: visible;
    }
}

@media(max-width:730px) {
    #wrap {
        max-width: 600px;
    }

    #profile {
        height: 717px;
    }

    #description {
        max-width: 620px;
    }

    #foto img {
        width: 27rem;
        height: 27rem;
    }

    .info-footer {
        max-width: 596px;
    }
}

@media(max-width:650px) {
    #wrap {
        max-width: 550px;
    }

    #description {
        max-width: 500px;
    }

    #foto img {
        width: 25rem;
        height: 25rem;
    }

    section>h1 {
        margin-top: 2rem;
    }

    #containerExperience .cards {
        height: 320px;
        padding: 10px 10px;
    }

    #techContainer {
        height: 320px;
        margin-bottom: 0.1rem;
    }

    .box {
        padding: 0px;
    }

    .box>svg {
        max-width: 4.9rem;
    }

    svg#oracle {
        max-width: 6.9rem;
    }

    svg#sql {
        max-width: 7.9rem;
    }

    svg#git,
    svg#github,
    svg#vs-code {
        max-width: 5.7rem;
    }

    footer {
        margin-top: 0px;
    }

    .info-footer {
        width: 544px;
    }
}

@media(max-width:595px) {
    #wrap {
        max-width: 499px;
    }

    #menu {
        max-width: 508px;
        right: 2rem;
    }

    #profile {
        height: 725px;
    }

    #description {
        max-width: 480px;
    }

    .div-info-blog {
        max-width: 30rem;
    }

    .div-img-blog {
        margin-bottom: 4rem;
    }

    #techContainer {
        height: 280px;
    }

    #containerExperience .cards {
        height: 390px;
    }

    .box>svg {
        max-width: 4.5rem;
        padding: 0.59rem;
    }

    svg#oracle {
        max-width: 6.8rem;
    }

    svg#sql {
        max-width: 7.7rem;
    }

    svg#git,
    svg#github,
    svg#vs-code {
        max-width: 5rem;
    }

    .info-footer {
        max-width: 493px;
    }
}

@media(max-width:550px) {
    #wrap {
        max-width: 460px;
    }

    #menu {
        max-width: 464px;
    }

    #description {
        max-width: 450px;
    }

    #foto img {
        width: 22rem;
        height: 22rem;
    }

    #containerBlog {
        height: 756px;
    }

    .div-info-blog {
        max-width: 28rem;
    }

    .div-img-blog {
        max-width: 21rem;
        height: 21rem;
    }

    .link-blog {
        padding: 1rem 2rem 1rem 2rem;
    }

    .info-footer {
        max-width: 453px;
    }
}

@media(max-width:516px) {
    #wrap {
        max-width: 430px;
    }

    #menu {
        max-width: 433px;
    }

    #containerExperience .cards {
        height: 420px;
    }

    .box>svg {
        max-width: 4.3rem;
    }

    svg#sql {
        max-width: 7.6rem;
    }

    svg#git,
    svg#github,
    svg#vs-code {
        max-width: 3.9rem;
    }

    .info-footer {
        max-width: 422px;
    }
}

@media(max-width:480px) {

    #wrap,
    .info-footer {
        max-width: 400px;
    }

    #menu {
        max-width: 413px;
    }

    #containerExperience {
        grid-template-columns: none;
        grid-template-rows: minmax(0, 1fr) minmax(0, 1fr);
    }

    #containerExperience .cards {
        height: 277px;
    }

    .txt-info {
        font-size: 1.6rem;
    }
}

@media(max-width:430px) {

    #wrap,
    #description,
    .info-footer {
        max-width: 350px;
    }

    #menu {
        max-width: 356px;
    }

    #description p {
        font-size: 2rem;
    }

    .div-info-blog {
        max-width: 21rem;
    }

    #containerBlog {
        height: 785px;
    }

    #techContainer {
        height: 485px;
    }

    .box {
        padding: 0 1.5rem 1.2rem;
    }

    .box>svg {
        max-width: 4.6rem;
    }

    svg#git,
    svg#github,
    svg#vs-code {
        max-width: 4.9rem;
    }

    footer p {
        font-size: 0.9rem;
    }
}

@media(max-width:380px) {

    #wrap,
    #menu,
    #description,
    .info-footer {
        max-width: 300px;
    }

    #description>p>strong,
    #description p {
        font-size: 2rem;
    }

    #foto img,
    .div-img-blog {
        width: 20rem;
        height: 20rem;
    }

    #containerBlog {
        height: 815px;
        border-radius: 40px;
    }

    .div-info-blog {
        max-width: 18rem;
    }

    #containerExperience .cards {
        height: 295px;
    }

    .info-footer svg {
        width: 26px;
        height: 26px;
    }
}

@media(max-width:340px) {

    #wrap,
    #menu,
    #description,
    .info-footer {
        max-width: 285px;
    }

    #foto img,
    .div-img-blog {
        max-width: 18rem;
        height: 18rem;
    }

    #techContainer {
        height: 554px;
    }
}