@font-face {
    font-family: 'DMSans';
    src: url('../fonts/DMSans-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'DMSans-R';
    src: url('../fonts/DMSans-Thin.ttf') format('truetype');
}


:root {
    --color-text: #f5f5f5;
    --background: #fff;
    --highlight-text: #2a87f7;
    --blue: #010E2D;
    --dark-blue: #010e2d;
    --black: black;
    --light-gray: #F3F5F8;
}

* {
    padding: 0px;
    margin: 0px;
}

html {
    font-size: 14px;
}

body {
    background: var(--background);
    color: var(--black);
    font-size: 1rem;
    font-family: sans-serif;
}

#wrap {
    width: 100%;
    max-width: 1070px;
    margin: 0px auto;
    margin-inline: auto;
    padding-inline: 1rem;
}

#header {
    width: 100%;
    height: 70px;
    top: 0;
    position: fixed;
    background-color: var(--blue);
    padding: 12px 0px;
    z-index: 10;
    transition: all 0.5s ease-in-out;
}

#header #wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    align-items: center;
}


#logo img {
    width: 65px;
    height: 64px;
    overflow: hidden;
    cursor: pointer;
}


#menuIcon {
    display: none;
}

#menu ul {
    position: relative;
    font-size: 1.3rem;
    list-style: none;
    display: flex;
    flex-direction: row;
    column-gap: 2.4rem;
    margin-left: 20px;
    letter-spacing: 1px;
} 

#menu ul li a {
    position: relative;
    color: var(--color-text);
    text-decoration: none;
    font-family: 'DMSans', sans-serif;
    font-weight: 500;
    font-size: 17px;
    letter-spacing: 1.2px;
}

#menu ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    bottom: -5px;
    height: 3px;
    background-color: var(--color-text);
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.3s ease-in-out;
}

#menu ul li a:hover::after {
    transform: scaleX(1);
}

#menu ul li a:focus-within::after {
    transform: scaleX(1);
}

#header.activeScroll {
    background-color: #fcfbfb;
    box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease-in-out;
}

#header.activeScroll ul li a {
    color: var(--blue);
    font-family: 'DMSans', sans-serif;
    font-size: 17px;
    transition: all 200ms;
}

#menu.activeScroll {
    --color-text: #010E2D;
}

#aboutMe {
    position: relative;
    width: 100%;
    height: auto;
    background-color: var(--blue);
    overflow: hidden;
}

#profile {
    display: flex;
    height: 588px;
    justify-content: flex-start;
    align-items: flex-end;
    align-content: flex-end;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 8rem;
}

/* #circle-photo {
    position: absolute;
    width: 34rem;
    height: 34rem;
    top: 10rem;
    right: 28.6rem;
    background-color: var(--color-text);
    border-radius: 20rem;
    z-index: 0;
    overflow: hidden;
} */

#foto img {
    position: relative;
    width: 35rem;
    height: 35rem;
    float: right;
    overflow: hidden;
    object-fit: cover;
    z-index: 1;
}

#description {
    width: 650px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: flex-start;
    align-items: flex-start;
    row-gap: 1.2rem;
    margin-bottom: 3.5rem;
    letter-spacing: 1.5px;
    color: var(--color-text);

}

#description>h1 {
    font-family: 'DMSans-R', sans-serif;
    line-height: 1.5;
    font-size: 2rem;

}

#description>p>strong {
    font-family: 'DMSans', sans-serif;
    font-size: 2.5rem;
    color: var(--highlight-text);
    line-height: 1.2;
    font-weight: 700;
}

#description p {
    margin-top: 10px;
    font-family: 'DMSans', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
}

#social {
    width: 265px;
    display: flex;
    justify-content: normal;
    align-content: flex-start;
    align-items: flex-start;
    column-gap: 1.6rem;
    margin-top: 0.59rem;
}

#social li {
    list-style: none;
}

#social li a {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    gap: 0.59rem;
    text-decoration: none;
    color: var(--color-text);
}

#social li a .linkedin-logo,
.github-logo {
    width: 33px;
    height: 33px;
}

.social-link-text {
    font-size: 14px;
}

section>h1 {
    margin-top: 5rem;
    padding: 20px;
    background: var(--dark-blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    text-align: center;
    font-family: 'DMSans', sans-serif;
    font-size: 2.5rem;
    font-weight: 600;
    letter-spacing: 0.5px;
}

#containerBlog {
    width: 100%;
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-items: center;
    column-gap: 2rem;
    margin-top: 8.5rem;
    background-color: var(--dark-blue);
    color: var(--color-text);
    border-radius: 70px;
    box-shadow: -1px 0px 15px 1px #ccc;
}

.div-img-blog {
    width: 24rem;
    height: 24rem;
    margin: 2rem;
    align-self: center;
}

.div-img-blog img {
    overflow: hidden;
}

.div-info-blog {
    width: 44rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: flex-start;
    justify-items: center;
    flex-wrap: nowrap;
    row-gap: 2.5rem;
}

.div-info-blog h1 {
    font-size: 2.6rem;
    font-family: 'DMSans', sans-serif;
    letter-spacing: 0.5px;
}

.div-info-blog p {
    font-size: 1.6rem;
    font-family: 'DMSans', sans-serif;
}

.link-blog {
    padding: 1.3rem 2.3rem 1.3rem 2.3rem;
    background-color: var(--color-text);
    color: var(--dark-blue);
    font-family: 'DMSans', sans-serif;
    font-size: 1.5rem;
    border-radius: 30px;
    text-decoration: none;
}

.link-blog:hover {
    background-color: var(--highlight-text);
    transition: all 0.3s ease-in-out;
}

.link-blog:focus-within {
    background-color: var(--highlight-text);
    transition: all 0.3s ease-in-out;
}

#containerExperience {
    width: 100%;
    padding: 1px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: normal;
    align-content: center;
    gap: 0.59rem;
    /* background-color: blue; */
}

#containerExperience .cards {
    height: 405px;
    padding: 28px 10px;
    background-color: var(--light-gray);
    border-radius: 20px;
    flex: 1;
    transition: transform 0.8s ease-in-out;
}

#containerExperience .cards:hover {
    background-color: var(--blue);
    transform: translateY(-5px)
}

#containerExperience .cards:hover .title-card h2 {
    color: var(--color-text);
}

#containerExperience .cards:hover .title-card svg {
    fill: var(--color-text);
}

#containerExperience .cards:hover .info-card p {
    color: var(--color-text);
}

.title-card img {
    width: 4.5rem;
    height: 90px;
}

.title-card .img-analys {
    width: 5.4rem;
    height: 90px;
}

.title-card {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: nowrap;
    color: var(--dark-blue);

}

.title-card h2 {
    font-size: 2rem;
    align-self: center;
    text-align: center;
}

.info-card p {
    font-size: 1.6rem;
    padding: 10px;
    text-align: left;
    letter-spacing: 1px;
    color: var(--blue);
}

#techContainer {
    width: 100%;
    height: 340px;
    display: block;
    justify-content: center;
    text-align: center;
    align-items: center;
    margin-bottom: 5rem;
}

.box {
    padding: 1rem;
}

.box>svg {
    max-width: 6.5rem;
    height: auto;
    padding: 1rem;
    overflow: hidden;
    filter: grayscale(100%);
}

svg#oracle {
    max-width: 7rem;
}

svg#sql {
    max-width: 8rem;
}

svg#git,
svg#github,
svg#vs-code {
    max-width: 7.5rem;
}

footer {
    width: 100%;
    height: auto;
    margin: 0px auto;
    margin-top: 25px;
    padding: 20px 0px 20px;
    border-radius: 2% 2% 0% 0%;
    color: var(--color-text);
    background-color: var(--blue);
}

footer p {
    text-align: center;
    font-size: 1rem;
}

.info-footer {
    width: 760px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 1.2rem;
    margin-bottom: 1.6rem;
    padding: 1.5rem 0px;
    background-color: #181e2c;
    border-radius: 15px;
}

.info-footer svg {
    width: 28px;
    height: 28px;
}

.box-footer {
    font-size: 1rem;
}

.txt-info {
    font-size: 1.9rem;
    color: var(--highlight-text);
    font-weight: 300;
}

.info-footer .txt-location {
    text-decoration: none;
    color: var(--color-text);
    font-family: 'DMSans', sans-serif;
    letter-spacing: 0.20px;
}

.social-link-svg {
    position: relative;
    display: inline-flex;
    align-items: center;
    padding: 9px;
}

.social-link-text-footer {
    position: absolute;
    text-decoration: none;
    font-family: 'DMSans', sans-serif;
    letter-spacing: 0.20px;
    opacity: 0;
    visibility: hidden;
    font-size: 0.8rem;
    padding: 3px;
    margin: 3px;
    background: var(--light-gray);
    border-radius: 5px;
    white-space: nowrap;
    color: var(--dark-blue);
    transform: translateX(-20%);
    transition: 0.4s ease-in-out;
}

.social-link-svg:hover .social-link-text-footer {
    opacity: 1;
    visibility: visible;
}